.root {
	-fx-base: #C9C1Af;
	-fx-background: #eeeeee;
	-fx-dark-text-color: #000;
    -fx-mid-text-color: #333;
    -fx-light-text-color: #999;
    -fx-accent: #60B3ff;
    -fx-focus-color: #60B3ff;
    -fx-font-size: 10.0pt ;
}

.button, .label, .text-field {
	-fx-max-height:27.0;
	-fx-min-height:27.0;
	-fx-min-width:27.0;
	-fx-padding: 0 5 0 5;
}

.grid-pane  {
    -fx-vgap: 2.0;
    -fx-hgap: 2.0;
    -fx-min-height: 30.0 ;
}

.button .text {
	-fx-text-alignment: center ;
}

